<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5455/rew5_db</property>
        <property name="connection.username">rew</property>
        <property name="connection.password">rew777</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <mapping class="entities.Student"/>
    </session-factory>
</hibernate-configuration>

